@import "../scss/variable.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

  & > .main-content__title-box:not(:first-child) {
    margin-top: 100px;
  }

  & > section:not(:first-child) {
    margin-bottom: 20px;
  }
}
