@import "../scss/variable.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
  //width: 100%;

  @media only screen and (max-width: 1000px) {
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }

  & > .main-content__title-box:not(:first-child) {
    margin-top: 100px;
  }

  & > section:not(:first-child) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
