@import "../scss/variable.scss";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 35%;
  padding-right: 35%;

  @media only screen and (max-width: 600px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  & .skill-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    & h2 {
      text-align: center;
    }

    & .skill-list {
      & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & li {
          text-align: center;
          width: 100px;
          margin-bottom: 10px;
          color: $grey;
        }
      }
    }
  }
}
