@import "../scss/variable.scss";

.cards {
  background: radial-gradient(circle, rgba(245, 246, 253, 1) 0%, rgba(255, 255, 255, 1) 48%);
  padding: 0rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;

  & > * {
    margin: 2rem;

    // REMOVE DEBUG
    // width: 300px;
    // height: 400px;
  }
}
