@import "../scss/variable.scss";

.cards {
  background-color: $off-white;
  padding: 5rem;
  display: flex;
  flex-direction: row;

  & > * {
    margin: 2rem;
    border-radius: 30px;

    // REMOVE DEBUG
    width: 300px;
    height: 400px;
  }
}
