@import "../scss/variable.scss";

.header {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo navbar github";
  justify-items: center;
  align-items: center;
  height: 150px;
  border-bottom: 1px solid #ececec;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 100;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px auto;
    grid-template-areas:
      "logo . hamburger"
      "navbar navbar navbar";
    padding: 0px 40px;
  }

  // LOGO
  &__logo {
    grid-area: logo;
    width: 170px;

    @media only screen and (max-width: 1300px) {
      width: 130px;
    }
  }

  // NAVBAR
  & .navbar {
    grid-area: navbar;

    // NAVBAR MOBILE
    @media only screen and (max-width: 1300px) {
      margin-top: 1px;
      // padding: 50px 40px;
      border-bottom: 2px solid #ececec;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      &-list {
        margin-top: 0px;
      }
    }
  }

  // GITHUB ICON
  & .github-icon {
    grid-area: github;
    width: 50px;
    margin-left: 80px;
    fill: $grey;
    cursor: pointer;
    transition: 0.25s;

    @media only screen and (max-width: 1300px) {
      display: none;
    }

    &:hover {
      fill: $black;
      transform: scale(1.1);
    }
  }

  // HAMBURGER
  & .hamburger {
    display: none;
    grid-area: hamburger;

    @media only screen and (max-width: 1300px) {
      display: inline-block;
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  // background-color: $off-white;
  background-color: white;
}
